<h3><%= @row["theme"] %></h3>
<p><%= @row["content"] %></p>
<p><%= @row["date_create"] %></p>
</br>


<% @comment.each do |value| %>

    <p><%= value["username"] %></p>
    <p><%= value["content"] %></p>

    </br>
    </br>

<% end %>




<p>
<form action="/details/<%= @post_id %>" method = "POST" role="form">
  <div class="form-inline form-group">
    <label for="exampleInputName2">Ваше имя</label>
    <input name="user_name" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  </br>
  <div class="form-inline form-group">
    <label for="exampleInputEmail2">E-mail</label>
    <input name="user_email" type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <textarea name="user_comment" rows="9" placeholder="Ваш комментарий" style = 'width: 600px'></textarea>
  </br>
  <button type="submit" class="btn btn-success">Отправить</button>
</form>
</p>


